# Storage Container Values
AZURE_STORAGE_CONTAINER_CONN_STR=
BLOB_CONN_STR=
BLOB_IN_CONTAINER_NAME=
BLOB_OUT_CONTAINER_NAME=
BLOB_FINAL_RESULT_FILE_NAME=

# Service Bus Values
 AZURE_SERVICE_BUS_CONN_STR=

# SQL Server Values
 SQL_USER_NAME=
 SQL_USER_PW=
 SQL_SERVER_URL=
 SQL_SERVER_DB_NAME=
 SQL_SERVER_PORT=
 ODBC_DRIVER=

# Email Notification Values
 EMAIL_NOTIFICATION_ENABLED=
 EMAIL_NOTIFICATION_SVC_CONN_STR=
 EMAIL_NOTIFICATION_SEND_TO_LIST=
 EMAIL_NOTIFICATION_SENDER_ADDRESS=

# PDF
 PDF_SERVICES_CLIENT_ID=
 PDF_SERVICES_CLIENT_SECRET=